@import url('normalize.css');

/* Colors */
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  /* font family */
  --font-family: 'Manrope', sans-serif;
}

/* mobile design  */
body {
  font-family: var(--font-family);
  background-color: var(--Light-Grayish-Blue);
}

.info {
  padding: 2rem 1rem 1rem 1rem;
}

.title {
  color: var(--Very-Desaturated-Dark-Blue);
  font-weight: 700;
  line-height: 1.4;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

.description {
  color: var(--Desaturated-Dark-Blue);
  font-size: 0.82rem;
}

.personal-info {
  margin-right: 6rem;
}
.name {
  font-weight: 700;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
.date {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.5;
  color: var(--Desaturated-Dark-Blue);
}
.avatar {
  border-radius: 100%;
  max-width: 2rem;
  max-height: 2rem;
  margin: 0 1rem 2rem 1rem;
}

.share-button-container {
  margin-right: 1rem;
}
.share-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  max-height: 2rem;
  max-width: 2rem;
  border: none;
  cursor: pointer;
}

.share-img {
  object-fit: contain;
  justify-content: center;
}
